<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="shop.Properties.Settings.hardwareshopConnectionString" connectionString="Data Source=VAIBHAV\SQLEXPRESS;Initial Catalog=hardwareshop;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
        <add name="shop.Properties.Settings.shopdemo2ConnectionString" connectionString="Data Source=VAIBHAV\SQLEXPRESS;Initial Catalog=shopdemo2;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
